.cartGlobale{
    .cart:nth-child(2) {
        border-bottom: solid 1px #C2C2C2;
        border-top: solid 1px #C2C2C2;
        border-style:dashed;
        border-left: hidden;
        border-right: hidden;
    }

    .cart:not(:nth-child(2)) {
        border-bottom: solid 1px #C2C2C2;
        border-style:dashed;
        border-left: hidden;
        border-right: hidden;
        border-top: hidden;
    }


    .cart{
        display: flex;
        height: 100px;
        padding-left: 10px;

        .cartImage{
            display: flex;
            align-items: center;
            img{
                width: 80px;
            }
        }

        .cartInfos{
            width: 60%;
            margin-left:15px;

            h4{
                display: flex;
                align-items: center;
                font-family: "Inter";
                font-weight: normal;
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 14px;
                height: 51px;
                overflow: hidden;
            }

            .quantityAndPrice{
                display: flex;
                align-items: center;
                gap: 15px;
                input{
                    width: 55px;
                    text-align: center;
                    margin: 0;
                }
                span{
                    font-weight: bold;
                    font-size: 13px;
                }
            }
        }

        .cartCross{
            display: flex;
            align-items: flex-end;
            margin-bottom: 25px;
            margin-left: auto;
            margin-right: 25px;
            img{height: 25px;}
        }
    }
    .adressGlobale{
        font-family: "Inter";
        display: flex;
        margin-block: 25px;

        .adressInfos{
            width: 50%;
            text-align: center;
            align-items: center;

            h3{
                margin: 0;
            }
        }

        .addressLink{
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
        }
        a{
            text-decoration: none;
            background-color: #D9D9D9;
            padding: 5px;
            border: solid 1px black;
            color: black;
        }
    }
    .totalPrice{
        font-family: "Inter";
        text-align: center;
        background-color: #D9D9D9;
        padding-block: 5px;
        h3{ margin: 0;}
    }

    .toOrder{
        margin-top: 25px;
        justify-content: center;
        height: 35px;
        display: flex;
        gap: 10px;

        span{
            background-color: #C2C2C2;
            border: solid 1px black;
            padding: 2px;
        }
        
        a{
            padding: 10px;
            background-color: #CF1010;
            border: solid 1px black;
            color: white;
            text-decoration: none;
        }
    }
}