.cgu {
  display: flex;
  h1 {
    margin-top: 2em;
    justify-content: center;
    display: block;
    text-align: center;
    align-items: center;
  }
  p {
    font-size: 12px;
    text-align: center;
  }
}
