.container-onglets {
  width: 100%;
  display: flex;
  margin-bottom: em;
}
.onglets {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 3em;
  cursor: pointer;
  background-color: gray;
  color: white;
  border-bottom: 1px solid black;
}
// ont prend tout les onglets mais pas le 1er
.onglets:not(:nth-child(1)) {
  border-left: 1px solid black;
}
.active {
  background-color: white;
  color: black;
  border-bottom: none;
}
.info-Details {
  border-radius: 2em;
  display: flex;
  flex-direction: column;
}
