.orderHistory {
  text-decoration: none;

  h1 {
    margin-bottom: 2em;
  }
  p {
    margin: 0;
  }
  .orderResume {
    // border-bottom: 1px solid black;
    background-color: #d9d9d9;
  }
  .orderNumber {
    font-weight: bold;
  }
  .orderShipp {
    color: rgb(8, 189, 8);
  }
  .orderTracking {
    font-weight: bold;
    margin-bottom: 2px;
  }
  .orderDetailsTxt {
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;
  }
  .orderDetails {
    background-color: white;
    img {
      width: 100px;
      height: auto;
    }
  }
  .orderDetailsPrice {
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 2em;
    cursor: pointer;

    text-decoration: none;
  }
  .orderTotal {
    margin-right: 1em;
    margin-left: auto;
  }
  .orderTotalText {
    margin-left: 1em;
  }
  .orderReference {
    display: flex;
    align-items: center;
  }
  .orderArticle {
    display: flex;
    max-height: 100px;
    overflow: hidden;
  }
  .orderReference {
    margin-right: 1em;
    margin-left: auto;
  }
  .order {
    border: 0.1px solid #9f9494;
  }
}
