.contactDetails {
  font-family: "Ubuntu";
  display: flex;
  flex-direction: column;
  align-items: center;

  .info-Details {
    border-radius: 2em;
    display: flex;
    flex-direction: column;
  }
}
.address {
  display: flex;
  flex-direction: column;
}
.street {
  .number {
    width: 1.6em;
  }
  .streetName {
    width: 10em;
  }
}
input {
  margin-bottom: 2em;
}
