@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@keyframes hamburgerOpen {
  0% { margin-top: -500px; opacity: 0; }
  50%{ opacity: 1; }
  100% { margin-top:0; }
}

h1{
  font-family: 'Ubuntu';
  color: #5E5C5C;
  font-size: 24px;
  text-align: center;
}

.navbar{
  width: 100vw;
  height: 100px;  //default:65px
  background-color: #CF1010;
  padding-top: 5px;

  .navbar-firstLine{
    display: flex;
    align-items: center;
    height: 100%;

    .navbar-image{
      height: 35px;
    }

    .navbar-logo{
      height: 50px;
    }

    .begin{
      margin-left: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .end{
      margin-left: auto;
      margin-right: 10px;
      display: flex;
      gap: 10px;
    }

    .searchBar{
      display: block;
    }
  }

  .navbar-Mobile .open{
    display: block;
    animation-name: hamburgerOpen;
    animation-timing-function: ease;
    animation-duration: .35s;
  }

  .navbar-secondLine{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
    input{
      width: 90%;
      height: 25px;
      background-image: url("https://res.cloudinary.com/shalltear/image/upload/v1664646980/Projet%203/loupe_cllhfy.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 5px);
      background-size: 20px;
      border: none;
    }
  }

  .hamburgerMenu{
    z-index: 20;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #CF1010;

    .hamburgerLink{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      margin-left: 22vw;
      justify-content: center;
      width: 100%;
      height: 100%;

      a{
        display: flex;
        align-items: center;
        font-size: 32px;
        font-family: 'Ubuntu';
        color: white;
        text-decoration: none;
        gap: 15px;

        img { width: 45px }
      }
    }

    .hamburgerCross {
      position:fixed;
      margin-left: calc(100vw - 75px);
      margin-top: 30px;
      z-index: 100;
    }
  }
}

.homepage{
  .products{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }
  .product{
    width: 50%;
    text-align: center;
    box-sizing: border-box;

    .productImage{
      height: 150px;
    }

    a {
      text-decoration: none;
    }

    h3{
      margin: 0;
      font-size: 14px;
      color: black;
      font-family: 'Ubuntu';
    }

    h4{
      margin: 0;
      font-size: 14px;
      color: #CF1010;
      font-family: 'Ubuntu';
    }

    .priceAndcartLogo{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-top: 10px;

      .cartLogo{
        height: 30px;
      }
    }
  }
}

.routes{ // Pour que le footer soit toujours en bas
  min-height: calc(100vh - 175px);
}

footer{
  background-color: #CF1010;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  
  a{
    color: white;
    text-decoration: none;
  }
}