body {
  align-items: center;
  // background-image: url("../public/Images/1099314.jpg");
}

input {
  width: 80%;
  height: 35px;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: #fff;
  padding: 15px;
  transition: 0.5s;
  text-transform: capitalize;
}

input::placeholder {
  color: #fff;
}

input:focus {
  background-color: #fff;
  color: #000;
}
